/* Main Css Start */
.header-part{
    background-color: #34495e;
}

.section-1{
    background: url(1.jpg) no-repeat center center;
    background-size: cover;
}

.footer{
    background-color: #198754;
}
/* My work has done */
